

    <div class="container" style="padding-top: 5%;">
        <div class="row">
            <div class="col-sm">
                <figure>
                    <img [src]="stanza.src" alt="\" style="width:100%; height:100%" class="shadow p-3 mb-5 bg-white rounded-pill">
                </figure>
            </div>
            <div class="col-sm" style="text-align: center; padding-top: 2%;">
                <h2>{{stanza.tipo | uppercase}}</h2>
                <p>Le camere "{{stanza.tipo}}" del Panoramic Hotel invitano al relax: comode, confortevoli e con un design esclusivo!</p>
                <br>
                <h3>Disponibile a partire da {{stanza.prezzo}} €</h3>
                <br>
                <a routerLink="/prenota/{{stanza.id}}"><button type="button" id="button5" class="btn btn-primary btn-lg"><strong>PRENOTA ORA</strong></button></a>
            </div>
        </div>
    </div>
