<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="padding-top: 1%; font-size: medium; height:100%"><strong>PANORAMIC HOTEL</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="!isMenuCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02" >
      <ul ngbNav class="navbar-nav" [activeId]="route.fragment" >
        <li ngbNavItem="dashboard" class="nav-item navbar-brand mx-auto" style="font-size: medium;"  data-toggle="collapse" data-target=".navbar-collapse.show">
          <a ngbNavLink routerLink="/dashboard" class="nav-link"><strong>Home</strong></a>
        </li>
        <li ngbNavItem="login" *ngIf="logged == false" class="nav-item navbar-brand mx-auto" style="font-size: medium;"  data-toggle="collapse" data-target=".navbar-collapse.show">
          <a ngbNavLink routerLink="/login"  class="nav-link" ><strong>Login</strong></a>
        </li>
        <li ngbNavItem="logout" *ngIf="logged == true" class="nav-item navbar-brand mx-auto" style="font-size: medium;"  data-toggle="collapse" data-target=".navbar-collapse.show">
          <a ngbNavLink routerLink="/logout"  class="nav-link" id="esci" ><strong>Logout</strong></a>
        </li>
        <li ngbNavItem="contact" class="nav-item navbar-brand mx-auto" style="font-size: medium;" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a ngbNavLink routerLink="/contact"  class="nav-link"><strong>Contattaci</strong></a>
        </li>
      </ul>
    </div>
  </nav>