

    <br>
    
    <div class="container" style="text-align: center; padding-top: 2%;">
      <div class="shadow l-3 mb-5 bg-white rounded" style="width: 50%; margin-left: 25%;">
      <br><h1>Torna presto a trovarci!</h1><br><br>
        <div class="row" style="padding-left:40%;">
            <div class="col-sm-2">
                <a routerLink="/dashboard" style="color: black;"><button class="btn btn-success btn-lg"><strong>HOME</strong></button></a>
            </div>
            <div class="col-sm-2">
                <a routerLink="/login" style="color: black;"><button class="btn btn-primary btn-lg"><strong>LOGIN</strong></button></a>
            </div>
        </div><br><br>
    </div>
  </div>
    
  
    
