
    
    <div class="container">
      
        <form (ngSubmit)="onSubmit()" #myFormPR = "ngForm" [hidden]="submitted">
          <h1 style="text-align: center;">Dettagli del soggiorno</h1><br>
          <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="container">
              
              <div class="row" style="padding-left:8%; padding-top:2%">
              <div class="col">
                <div class="form-group">
                  <label for="nome">Nome:</label>
                  <input type="text" class="form-control form-control-lg" id="nome" required [(ngModel)]="nome" name="nome" >
                </div>
                <br>
                <div class="form-group">
                  <label for="cognome">Cognome:</label>
                  <input type="text" class="form-control form-control-lg" id="cognome" required [(ngModel)]="cognome" name="cognome" >
                </div>
                <br>
                <div class="form-group">
                  <label for="mail">Email:</label>
                  <input type="text" class="form-control form-control-lg" id="mail" required [(ngModel)]="mail" name="mail" >
                </div>
                <br>
              <div class="form-group">
              <label for="arrivo">Check-in:</label>
              <input type="date" class="form-control form-control-lg" id="arrivo" required [(ngModel)]="arrivo" name="arrivo" >
            </div>
            <br>
            <div class="form-group">
              <label for="partenza">Check-out:</label>
              <input type="date" class="form-control form-control-lg" id="partenza" required [(ngModel)]="partenza" name="partenza" >
            </div>
            <br>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="partenza">Adulti:</label>
                    <select class="form-control form-control-lg" id="adulti" required [(ngModel)]="adulti" name="adulti">
                        <option [value]="1">1 adulto</option>
                        <option [value]="2">2 adulti</option>
                        <option [value]="3">3 adulti</option>
                        <option [value]="4">4 adulti</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                  <label for="partenza">Bambini:</label>
                    <select class="form-control form-control-lg" id="bambini" [(ngModel)]="bambini" name="bambini">Bambini
                        <option [value]="1">1 bambino</option>
                        <option [value]="2">2 bambini</option>
                        <option [value]="3">3 bambini</option>
                        <option [value]="4">4 bambini</option>
                    </select>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="partenza">Stanze:</label>
                    <select class="form-control form-control-lg" id="stanze" [(ngModel)]="stanze" name="stanze">Stanze
                      <option [value]="1">1 stanza</option>
                      <option [value]="2">2 stanze</option>
                      <option [value]="3">3 stanze</option>
                      <option [value]="4">4 stanze</option>
                  </select>
                </div>
                <br>
                <div class="form-group">
                  <label for="pagamento">Metodo di pagamento:</label>
                  <select class="form-control form-control-lg" id="pagamento" [(ngModel)]="pagamento" name="pagamento">Stanze
                    <option [value]="1">Paypal</option>
                    <option [value]="2">Bancomat</option>
                    <option [value]="3">Carta di credito</option>
                </select>
              </div>
              <br><br>
                <button type="submit" id="button6" class="btn btn-success btn-lg" [disabled]="!myFormPR.form.valid" (click) = "submitted = true"><b>Prenota</b></button> <!--it will trigger a form submit because of its type (type="submit")-->
          
              </div>
              </div>
            </div>
          </div>
          </form>
    </div>
        <div *ngIf="submitted" style="text-align: center; margin-top:2%;" class="shadow p-3 mb-5 bg-white rounded">
            <br>
            <h1>Grazie per aver scelto il Panoramic Hotel! </h1><br>
            <h2>Ti abbiamo inviato una mail con tutti i dettagli del tuo soggiorno, a presto!</h2><br><br>
            <a routerLink="/dashboard" id='link' style="color: white;" ><button type="button" class="btn btn-primary btn-lg">Torna alla <b>HOME</b></button></a>

    </div>

    
    