<div class="content" role="main" >
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
  
      <svg id="rocket" alt="Rocket Ship" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
        <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
          <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
          <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
            <path id="Path_33" data-name="Path 33" d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z" transform="translate(0.371 3.363)" fill="#fff"/>
            <path id="Path_34" data-name="Path 34" d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z" transform="translate(0 0.005)" fill="#fff"/>
          </g>
        </g>
      </svg>
  
      <span>PRENOTA ORA!</span>
  
      <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
        <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
      </svg>
  
    </div>
    
    <div class="container" style=" width:50%">
      
        <form (ngSubmit)="onSubmit()" #myFormPR = "ngForm" [hidden]="submitted">
          <h1 style="text-align: center;">Dettagli del soggiorno</h1><br>
          <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="container">
              
              <div class="row" style="padding-left:8%; padding-top:2%">
              <div class="col">
                <div class="form-group">
                  <label for="nome">Nome:</label>
                  <input type="text" class="form-control form-control-lg" id="nome" required [(ngModel)]="nome" name="nome" >
                </div>
                <br>
                <div class="form-group">
                  <label for="cognome">Cognome:</label>
                  <input type="text" class="form-control form-control-lg" id="cognome" required [(ngModel)]="cognome" name="cognome" >
                </div>
                <br>
                <div class="form-group">
                  <label for="mail">Email:</label>
                  <input type="text" class="form-control form-control-lg" id="mail" required [(ngModel)]="mail" name="mail" >
                </div>
                <br>
              <div class="form-group">
              <label for="arrivo">Check-in:</label>
              <input type="date" class="form-control form-control-lg" id="arrivo" required [(ngModel)]="arrivo" name="arrivo" >
            </div>
            <br>
            <div class="form-group">
              <label for="partenza">Check-out:</label>
              <input type="date" class="form-control form-control-lg" id="partenza" required [(ngModel)]="partenza" name="partenza" >
            </div>
            <br>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="partenza">Adulti:</label>
                    <select class="form-control form-control-lg" id="adulti" required [(ngModel)]="adulti" name="adulti">
                        <option [value]="1">1 adulto</option>
                        <option [value]="2">2 adulti</option>
                        <option [value]="3">3 adulti</option>
                        <option [value]="4">4 adulti</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                  <label for="partenza">Bambini:</label>
                    <select class="form-control form-control-lg" id="bambini" [(ngModel)]="bambini" name="bambini">Bambini
                        <option [value]="1">1 bambino</option>
                        <option [value]="2">2 bambini</option>
                        <option [value]="3">3 bambini</option>
                        <option [value]="4">4 bambini</option>
                    </select>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="partenza">Stanze:</label>
                    <select class="form-control form-control-lg" id="stanze" [(ngModel)]="stanze" name="stanze">Stanze
                      <option [value]="1">1 stanza</option>
                      <option [value]="2">2 stanze</option>
                      <option [value]="3">3 stanze</option>
                      <option [value]="4">4 stanze</option>
                  </select>
                </div>
                <br>
                <div class="form-group">
                  <label for="pagamento">Metodo di pagamento:</label>
                  <select class="form-control form-control-lg" id="pagamento" [(ngModel)]="pagamento" name="pagamento">Stanze
                    <option [value]="1">Paypal</option>
                    <option [value]="2">Bancomat</option>
                    <option [value]="3">Carta di credito</option>
                </select>
              </div>
              <br><br>
                <button type="submit" id="button6" class="btn btn-success btn-lg" [disabled]="!myFormPR.form.valid" (click) = "submitted = true"><b>Prenota</b></button> <!--it will trigger a form submit because of its type (type="submit")-->
          
              </div>
              </div>
            </div>
          </div>
          </form>
    </div>
        <div *ngIf="submitted" style="text-align: center; margin-top:2%; width:50%" class="shadow p-3 mb-5 bg-white rounded">
            <br>
            <h1>Grazie per aver scelto il Panoramic Hotel! </h1><br>
            <h2>Ti abbiamo inviato una mail con tutti i dettagli del tuo soggiorno, a presto!</h2><br><br>
            <button type="button" class="btn btn-primary btn-lg">Torna alla <a routerLink="/dashboard" id='link' ><b>HOME</b></a></button>

    </div>
    </div>
    
    