<!-- Toolbar -->

  
<h1 style="text-align: center; padding-top:2%; padding-left:5%; margin-bottom: 0;" *ngIf="nome">Bentornato, {{nome}}!</h1>
<br>
  
    <div class="container" style="font-size: medium; max-width: 11140px;">
        <div class="row">
            <div class="col-sm">
               <div class="cards">
                   <app-card [stanze]="stanze"></app-card>
               </div>
            </div>
            <div class="col-sm-5">
                <div class="wrapper">
                    <app-carousel [pics]="pics"></app-carousel>
                </div>
            </div>
            <div  class="col-sm">
                <div class="preventivo">
                    <app-preventivo></app-preventivo>
                </div>
        </div>
      
    </div>
  </div>
  
  