
    <br>
    <div [hidden]="submitted" class="container" style="text-align: center;">
      <div class="shadow p-3 mb-5 bg-white rounded">
      <form (ngSubmit)="onSubmit()" #myFormR = "ngForm" >
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label>Nome:</label>
            <input type="text" class="form-control form-control-lg" id="nome" required [(ngModel)]="nome" name="nome">
          </div>
          <br>
          <div class="form-group">
            <label>Cognome:</label>
            <input type="text" class="form-control form-control-lg" id="cognome" [(ngModel)]="cognome" name="cognome" required>
          </div>
          <br>
          <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control form-control-lg" id="user" [(ngModel)]="user" name="user" required (keyup)="checkUser()">
          </div>
          
          <div class="alert alert-danger" id="dup" role="alert" [hidden]="!duplicato">
            <h3>Esiste già un utente con questo username!</h3>
            </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control form-control-lg" id="email" [(ngModel)]="email" name="email" required>
          </div><br>
          <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control form-control-lg" id="password" [(ngModel)]="password" name="password" required>
          </div><br>
          <div class="form-group">
            <label>Conferma password:</label>
            <input type="password" class="form-control form-control-lg" id="conferma" [(ngModel)]="conferma" #box name="conferma" (keyup)="check(box.value)" required>
            <br>
            <div [hidden]="!nonCoincide" id="pswDiverse" style="color: darkred;">Le password non coincidono...</div>
          </div>
        </div>
      </div>
      <button type="submit" id="button3" class="btn btn-success btn-lg" [disabled]="!myFormR.form.valid || duplicato || nonCoincide" (click)="onSubmit()"><b>REGISTRATI</b></button>

    </form>
    </div>
  </div>
    
    <div [hidden]="!submitted"  style="text-align: center; margin-left: 37.5%; width: 25%;" class="shadow p-3 mb-5 bg-white rounded">
        <br>
        <h1>Registrazione riuscita!</h1>
        <br>
        <a routerLink="/login" style="color: white;"><button type="button" id="button3" class="btn btn-primary btn-lg">Val al <b>LOGIN</b></button></a>
    </div>
    
