<!--<div class="carousel">
    <ng-template ngbSlide *ngFor="let pic of pics; let i = index">
    <div  class="picsum-img-wrapper">
        <div *ngIf="i === currentPic" class="carousel-caption">
           {{ pic.desc }} 
        </div>
        <img *ngIf="i === currentPic" [src]="pic.src" class="pic" style="padding-top:5%"  @carouselAnimation>
        
    </div>
    </ng-template>
</div>-->
<ngb-carousel #carousel [interval]="4000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let pic of pics; index as i">
        <div class="carousel-caption">
            <h3>{{pic.desc}}</h3>
        </div>
        <div class="picsum-img-wrapper">
            <img [src]="pic.src" class="rounded">
        </div>
    </ng-template>
</ngb-carousel>

<h1>Descrizione</h1>
<p>Il Panoramic Hotel è un moderno albergo 4 stelle, <b>elegante e affacciato sul mare</b>, l’occasione per una vacanza romantica e di grande charme, nell’incantato scenario di Taormina e del Mare di Sicilia. <br><br>

    Gli ambienti del Panoramic Hotel sono <b>nuovi, luminosi ed accoglienti come il nostro staff alla reception,</b> lieto di assistervi durante il vostro soggiorno a Taormina, suggerendovi itinerari, visite guidate e qualche buon ristorante del centro storico. <br><br>
    
    Concedendovi un cocktail sulla terrazza panoramica che ospita la <b>piscina,</b> rimarrete sbalorditi dalla vista del mare e dagli splendidi scorci della baia dell’Isola Bella. Qui, durante le giornate estive, il nostro bar serve piatti tipici siciliani, snack e insalate. <br><br>
    
    Al termine di una scalinata che parte proprio di fronte all’albergo, vi attendono i ciotoli bianchi della <b>spiaggia di Isola Bella,</b> tra stabilimenti balneari con lettini ed ombrelloni e zone di libero accesso ad un mare pulito, trasparente e già profondo a pochi metri da riva. <br><br>
    
    A vostra disposizione inoltre, telefonia Voip – ideale per le chiamate internazionali a basso costo – <b>internet Wi-fi, prima colazione e reception aperta 24 ore</b>.</p>

    <br>
